/* .ui-button-text-only .ui-button-text { */
/* 	color: inherit; */
/* 	background: inherit; */

/* } */

/* .ui-button .ui-button-text { */
/* 	color: inherit; */
/* } */
.ui-accordion .ui-accordion-header.ui-state-active {
	background-color: #a3aaad !important;
	color: white !important;
	text-shadow: 0px 0px !important;
}

.ui-accordion .ui-accordion-header {
	background-color: #20a8d8 !important;
	color: white !important;
	text-shadow: 0px 0px !important;
}

.ui-growl {
	top: 50px !important;
}

.cancelButton.ui-state-default {
	padding: .15em 0em .15em 0em !important;
	color: #fff !important;
	background-color: #ff5454 !important;
	border-color: #ff5454 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0) !important;
	background-image: none !important;
}

.cancelButton.ui-state-hover {
	color: #fff !important;
	background-color: #ff2121 !important;
	border-color: #ff1717 !important;
}

.volverButton.ui-state-default {
	padding: .15em 0em .15em 0em !important;
	color: #fff !important;
	background-color: #64a539 !important;
	border-color: #8bde53 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0) !important;
	background-image: none !important;
}

.volverButton.ui-state-hover {
	color: #fff !important;
	background-color: #008000!important;
	border-color: #69cd27 !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	right: 10px !important;
}

.dashboardPanel {
	width: 230px; 
	text-align: center;
	border-color: #e6e2e2;
    border-style: solid;
    border-width: 1px;
    min-height: 300px;
}